@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
@import '../scss/nav';
@import '../scss/colors';
@import '../scss/fonts';

$radius: 4px;
$transition-period: 0.3s ease;

body, body::before, body::after {
	box-sizing: border-box;
}

body {
	background-color: $bg;
}

p {
	color: $text-secondary;
}

label {
	color: $text;
	span {
		color: $error;
	}
}

.nuxt-content {
	word-wrap: break-word;

	p {
		color: $text;
		font-size: 1.1em;
	}

	a {
		color: $success;
		transition: all $transition-period;
		
		&:hover {
			opacity: 0.8;
		}
	}
}

p.error {
	color: $text-error;
}

ul,
li {
	margin: 0;
	padding: 0;
}

h1,
h2,
h3 {
	color: $text;
}


body,
body::before,
body::after,
a,
p,
h1,
h2,
h3 {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@mixin body-wrapper {
	min-width: 1000px;
	max-width: 1000px;
}

pre {
	padding: 1rem;
	border: 1px solid $gray;
	border-radius: 4px;
}

input {
	background: none;
	border-radius: $radius;
	border: 1px solid $gray;
	padding: 0.5rem;
	color: $text;

	&::placeholder {
		color: $text-secondary;
		font-style: italic;
	}

	&:invalid {
		border-color: $error;
	}
}

input.valid {
	border-color: $success;
}