
@mixin font {
	font-family: 'Poppins', sans-serif;
}

@mixin extra-light {
	@include font;
	font-weight: 200;
}

@mixin light {
	@include font;
	font-weight: 300;
}

@mixin regular {
	@include font;
	font-weight: 400;
}

@mixin medium {
	@include font;
	font-weight: 500;
}

@mixin semi-bold {
	@include font;
	font-weight: 600;
}

h1,
h2,
h3 {
	@include medium;
}

a,
label,
p {
	@include regular;
}